files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_migrate.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/leader_only ]; then
        WEB_CID=$(docker ps -q -f "name=web")
        docker exec $WEB_CID python manage.py migrate
        rm /tmp/leader_only
      fi

container_commands:
  01_migrate:
    command: "touch /tmp/leader_only"
    leader_only: true
